In [1]:
from BC_solutions import Databases
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
# Database credentials
server = 'CorpPolDB'
database = 'DW'
UID = 'POD'
PWD = 'POD2019'

database_manager = Databases.DatabaseManager(server, database, UID, PWD)

POD POD2019
Connection with database established.

In [3]:
df = database_manager.get_data('SELECT * FROM [DW].[pod].[v_POD]')

In [9]:
pd.set_option('display.max_columns', None)
df.head()

,IsTempRecord,Reporter,Country,State,Week,Year,Month,SiteLetter,SiteNumber,TreeNumber,PCSample,Variety,Moisture,Texture,Canopy,Maintenance,Flowers,Leaf flushing,WB,Monilia T/S,Monilia M/L,Monilia M,Black Pod,Other D/D,Harvest,Drying,Fermentation,Fertilizer,Fungicide,Irrigation,Tiny,Small,Medium,Large,Mature,Ripe,Wilt,Damaged,Healthy,Total,Cherelles,Adults,ImportDate,ID,ts,Main,Region,CountDay,SmallBefore,TinyBefore,MediumBefore,LargeBefore,SmallBefore2,LargeBefore2,Mid
0,False,CIV,Cote d Ivoire,n/a,44,1997,10,AG,2,0,Y,n/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,2.0,4.0,NaN,2.0,96.0,4.0,3.0,0.0,108.0,111.0,6.0,102.0,2019-06-11 13:44:14.510,1729,b'\x00\x00\x00\x03\x89N\x1e\xf2',108.0,Lagunes,Abengourou,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,False,CIV,Cote d Ivoire,n/a,44,1997,10,AG,10,0,Y,n/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,1.0,3.0,NaN,9.0,171.0,8.0,3.0,2.0,192.0,197.0,4.0,188.0,2019-06-11 13:44:14.510,1732,b'\x00\x00\x00\x03\x89N\x1e\xf5',192.0,Comoé,Abengourou,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,False,CIV,Cote d Ivoire,n/a,44,1997,10,AG,11,0,Y,n/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,1.0,2.0,NaN,2.0,71.0,24.0,2.0,4.0,100.0,106.0,3.0,97.0,2019-06-11 13:44:14.510,1733,b'\x00\x00\x00\x03\x89N\x1e\xf6',100.0,Comoé,Abengourou,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,False,CIV,Cote d Ivoire,n/a,44,1997,10,AG,12,0,Y,n/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,8.0,27.0,NaN,8.0,142.0,14.0,25.0,7.0,199.0,231.0,35.0,164.0,2019-06-11 13:44:14.510,1734,b'\x00\x00\x00\x03\x89N\x1e\xf7',199.0,Comoé,Abengourou,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,False,CIV,Cote d Ivoire,n/a,44,1997,10,AG,13,0,Y,n/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,4.0,7.0,NaN,16.0,97.0,40.0,15.0,13.0,164.0,192.0,11.0,153.0,2019-06-11 13:44:14.510,1735,b'\x00\x00\x00\x03\x89N\x1e\xf8',164.0,Lacs,Abengourou,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:
print(df.columns)

Index(['IsTempRecord', 'Reporter', 'Country', 'State', 'Week', 'Year', 'Month',
       'SiteLetter', 'SiteNumber', 'TreeNumber', 'PCSample', 'Variety',
       'Moisture', 'Texture', 'Canopy', 'Maintenance', 'Flowers',
       'Leaf flushing', 'WB', 'Monilia T/S', 'Monilia M/L', 'Monilia M',
       'Black Pod', 'Other D/D', 'Harvest', 'Drying', 'Fermentation',
       'Fertilizer', 'Fungicide', 'Irrigation', 'Tiny', 'Small', 'Medium',
       'Large', 'Mature', 'Ripe', 'Wilt', 'Damaged', 'Healthy', 'Total',
       'Cherelles', 'Adults', 'ImportDate', 'ID', 'ts', 'Main', 'Region',
       'CountDay', 'SmallBefore', 'TinyBefore', 'MediumBefore', 'LargeBefore',
       'SmallBefore2', 'LargeBefore2', 'Mid'],
      dtype='object')

In [11]:
df_2 = df[['Country', 'Year', 'Month', 'Total']]

In [13]:
df_2['Date'] = [datetime(row["Year"], row["Month"], 1) for index, row in df_2.iterrows()]

C:\Users\BC127735\AppData\Local\Temp\ipykernel_21464\1107058262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Date'] = [datetime(row["Year"], row["Month"], 1) for index, row in df_2.iterrows()]

In [15]:
df_3 = df_2[['Date', 'Country', 'Total']]

In [16]:
df_3

             Date        Country  Total
0      1997-10-01  Cote d Ivoire  111.0
1      1997-10-01  Cote d Ivoire  197.0
2      1997-10-01  Cote d Ivoire  106.0
3      1997-10-01  Cote d Ivoire  231.0
4      1997-10-01  Cote d Ivoire  192.0
...           ...            ...    ...
111314 2023-03-01      Indonesia   54.0
111315 2023-03-01      Indonesia  163.0
111316 2023-03-01      Indonesia   91.0
111317 2023-03-01      Indonesia   69.0
111318 2023-03-01      Indonesia   15.0

[111319 rows x 3 columns]

In [17]:
df_3.set_index('Date', inplace=True)
df_3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 111319 entries, 1997-10-01 to 2023-03-01
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Country  111319 non-null  object
 1   Total    111319 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

In [18]:
df_3

                  Country  Total
Date
1997-10-01  Cote d Ivoire  111.0
1997-10-01  Cote d Ivoire  197.0
1997-10-01  Cote d Ivoire  106.0
1997-10-01  Cote d Ivoire  231.0
1997-10-01  Cote d Ivoire  192.0
...                   ...    ...
2023-03-01      Indonesia   54.0
2023-03-01      Indonesia  163.0
2023-03-01      Indonesia   91.0
2023-03-01      Indonesia   69.0
2023-03-01      Indonesia   15.0

[111319 rows x 2 columns]

In [19]:
df_3.to_csv('Pod_prepared.txt')